
/*Selve menyen, hvordan den ser ut, hva som skjer når du tar musepekern over og når du trykker på den*/
#menyen ul{  
 list-style: none;
 background-color:lightblue;
 display: flex;
 padding-inline-start: 0px;
 margin-top: 60px;
   
}
  
#menyen ul li{
flex: auto;
}

  #menyen ul li a {  
  display: block;
  padding: 2%;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 20px;
  }
  
  #menyen ul li a:hover {  
   box-shadow: 0px 0px 15px rgb(0, 0, 0);
   text-decoration: underline;
  }

  #menyen ul li a:active{  
    transform: translateY(2px);
  }


/*========================================================================================*/


header{  /*Bakgrunnen i headeren*/
  background-image: url("../bilder/header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 200px;
}


/*========================================================================================*/


/*Selve tekst typene for hele siden*/
body{
  font-family: 'Courier New', Courier, monospace;
  
}


/*========================================================================================*/


/*Lager under wrapper for hver enkelt HTML dokument som sier hvordan gridden skal se ut og i hvilket area den skal være*/
.wrapper{
display: grid;
text-align: center;
grid-template-areas:
"header header  "
" main aside "
"footer footer"
}

.wrapper2{
display: grid;
text-align: center;
grid-template-areas:
" header header header header"
"  . . main .  "
" footer footer footer footer"
}

.wrapper3{
display: grid;
text-align: center;
grid-template-areas:
" header header header header"
"  . . main .  "
" footer footer footer footer"
}

.wrapper4{
display: grid;
text-align: center;
grid-template-areas:
" header header header header"
"  . . main .  "
" footer footer footer footer"
}


/*========================================================================================*/


/*Overskriften for nettsiden*/
#overskrift{
color: white;
font-size: 46px;
padding-top: 40px; 
}


/*========================================================================================*/


/*Container er selve malen for flex området til artikkel linkene*/
.container{
  width: auto;
  display: flex;
  flex-direction: column;
}


/*========================================================================================*/


/*Definerer grid området for header, main, footer og aside + legger til noe for å lage border rundt aside området*/
header{
  grid-area: header;
}

main{
  grid-area: main;
  padding-top: 30px;
}

footer{
   grid-area: footer;
   padding-top: 8%; 
   padding-bottom: 5%;
   text-align: center;
}

aside{
  grid-area: aside;
  padding-top: 30px;
  border: 2px solid black;
  background-color: lightblue; 
  margin-left: 15rem;
  width: 30rem;
  border-radius: 25px;
  margin-top: 2rem;
  margin-bottom: 63.5rem;
}


/*========================================================================================*/


/*Selve malen for hvor artikkelen skal ligge på hver av artikkel sidene*/
.artikkelSkjemaer{

  width: 800px;
  line-height: 35px;
  text-align: left;
  justify-content: center;
  
}


/*========================================================================================*/


/*Lager en border rundt oversikten over alle media types*/
#typeBox{

  border: 1px solid black;
  padding: 1%;
  line-height: 18px;
}


/*========================================================================================*/


/* Ulike størrelser for teksten i paragrafene*/
.textHead1{
  font-weight: bold;
  font-size: 18px;
}

.textHead2{
  font-weight: bold;
  
}

.textHeader{
  font-weight: bold;
  font-size: 25px;
  
}

h1{
  font-size: 30px;
  font-style: italic;
}


/*========================================================================================*/


/*Selve border rundt eksempelet av HTML skjema*/
#kontaktskjema{

 border: 1px solid black;
 width: 280px;
 padding: 1%;
 margin: 0 auto;
}


/*========================================================================================*/


/*Setter hvordan knappene til artikkelene og skriv ut skal se ut, hva som skjer når du tar musepekern over og når du trykker*/
.btn{
border-radius: 10px;
background-color: rgba(0, 0, 0, 0.466);
color: rgb(255, 255, 255);
border: 2px solid rgba(0, 0, 0, 0.466);
padding:  0.5rem 0.5rem ;
width: 100px;
margin: 0 auto;
}

.btn:hover{
box-shadow: 0px 0px 15px rgb(0, 0, 0);
text-decoration: underline;
}

.btn:active{
  transform: translatey(2px);
}

#btnPrint{
  border-radius: 10px;
  background-color:  rgba(0, 0, 0, 0.466);
  color: white;
  text-align: center;
  width: 100px;
  margin: 0 auto; 
  border: 2px solid rgba(0, 0, 0, 0.466);
  }
  
  #btnPrint:hover{
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
  text-decoration: underline;
  }
  
  #btnPrint:active{
    transform: translateY(2px);
  }


/*========================================================================================*/


  /*Definerer hvordan a linkene skal se ut og de linkene til kilder for repsonsivt design*/
  a{

  text-decoration: none;  
  color: white;

  }

  .linker{
    color: blue;
  }

  .linker:hover{
    text-decoration: underline;
  }


/*========================================================================================*/


/* Sier hva bildene i artikkelene og på forsiden skal se ut*/  
.layoutBilder{

  width: 25rem;
  height: 15rem;
  
}

.layoutBilder2{

  width: 25rem;
  height: 25rem;

}

.forsideBilder{

  width: 20rem;
  height: 25rem;

}

.forsideBilder2{

  width: 20rem;
  height: 15rem;

}


/*========================================================================================*/


/* Lager hvordan border boxen rundt hver av de artikkel linkene på forsiden skal se ut*/
.artikkelFrame{

  border: 2px solid black;
  background-color: lightblue; 
  padding-bottom: 2rem;
  margin-left: 15rem;
  width: 30rem;
  border-radius: 25px;

}


/*========================================================================================*/

