  /* Lager hvor stor artiklene på forsiden er og understreken under dem*/
  .artikkelFrame{
  
    width: 500px;
  
  }
  
  #artikkelLine{
  
    margin-top: 30px;
    width: 500px;
    
  }
  
   #artikkelVideo{
  
    width: 800px;
    height: 400px;
  } 
  /*========================================================================================*/