
#menyen ul{  /*Selve menyen*/
 list-style: none;
background-color:lightblue;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 padding-inline-start: 0px;
 margin-top: 50px;
   
  }
  
#menyen ul li{
flex: auto;
}

  #menyen ul li a {  /*Knappene*/
  display: block;
  padding: 2%;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 20px;
  }
  
  #menyen ul li a:hover {  /*Hva skjer naar du tar museknappen over knappene*/
   box-shadow: 0px 0px 15px rgb(0, 0, 0);
   box-shadow: inset;
   text-decoration: underline;
  }

  #menyen ul li a:active{  /*Hva skjer når du trykker på knappene*/
    transform: translateY(2px);
  }

header{  /*Bakgrunnen i headeren*/
  background-image: url("../bilder/header.png");
  background-repeat: no-repeat;
  background-size: 100% 200px;
}

body{
  font-family: Arial, Helvetica, sans-serif
}


.wrapper{
display: grid;
text-align: center;

grid-auto-rows: 200px;
grid-template-areas:
"header header header header header header header"
"header header header header header header header "
".  main1 . main2 . main3 ."
"footer footer footer footer footer footer footer"
}

#overskrift{
color: white;
font-size: 46px;
padding-top: 40px; 
}


.mainSite{

display: flex;
justify-content: center;
}

.


.btnTask{
  text-decoration: none;
}

header{
  grid-area: header;
}



.main1{
  grid-area: main1;
  padding-top: 30px;
}

.main2{
  grid-area: main2;
  padding-top: 30px;
}

.main3{
  grid-area: main3;
  padding-top: 30px;
}

.main4{
  grid-area: main4;
  padding-top: 30px;
}

.main5{
  grid-area: main5;
  padding-top: 30px;
}

.main6{
  grid-area: main6;
  padding-top: 30px;
}

.main7{
  grid-area: main7;
  padding-top: 30px;
}

footer{
   grid-area: footer;
   padding-top: 12%; 
   padding-bottom: 5%;
}

aside{
  grid-area: aside;
  padding-top: 30px;
}

p{
  padding-top: 10px;
}
  
hr{
width: 250px;
}

.btnTasks{
border-radius: 10px;
background-color: lightblue;
color: black;
text-decoration: none;
}

.btnTasks:hover{
box-shadow: 0px 0px 15px rgb(0, 0, 0);
box-shadow: inset;
}

.btnLink{
  background-color: lightblue;
  color: black;
  text-decoration: none;
}

table, th, td, tr{
  border: 1px solid black;
}